{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
	<h3>增加网站</h3>
</div>
<div>
	<a href="/urlshow/{{type.typeID}}" class="btn btn-primary">返回列表</a>
</div>
<form  action="" method="POST" role="form">
	<div class="form-group">
		<label for="t1" class="col-sm-2 control-label">类型:</label>
		<select name="typeID" class="form-control" id="typeID">
			{% for type1 in types %}
				<option value="{{type1.typeID}}" {% if type1.typeID == type.typeID %} selected="selected" {% endif %}>{{ type1.typename }}</option>
			{% endfor %}
		</select>
	</div>

	<div>
		<label for="t2" class="col-sm-2 control-label">环境</label>
		<select class="form-control" id="env" name="env">
			<option>生产环境</option>
			<option>测试环境</option>
			<option>UAT环境</option>
		</select>
	</div>

	<div>
		<label for="t2" class="col-sm-2 control-label">网站名:</label>
		<input type="text" name="urlname" name="typeID" class="form-control" id="urlname" required="required">
	</div>

	<div>
		<label for="t3" class="col-sm-2 control-label">网站链接:</label>
		<input type="text" name="url" name="typeID" class="form-control" id="url" required="required">
	</div>

	<div>
		<label for="t4" class="col-sm-2 control-label">用户:</label>
		<input type="text" name="user" name="typeID" class="form-control" id="user">
	</div>

	<div>
		<label for="t5" class="col-sm-2 control-label">密码:</label>
		<input type="password" name="passwd" name="typeID" class="form-control" id="passwd">
	</div>

	<div>
		<label for="t6" class="col-sm-2 control-label">排序值:</label>
		<input type="text" name="sortID" name="typeID" class="form-control" id="sortID" required="required">
	</div>	
	<br>
	<div>
		<input type="submit" style="width: 80px;" class="btn btn-primary form-control">
	</div>
</form>

{% endblock %}